Source: ka-lite-gtk
Maintainer: Foundation for Learning Equality <info@learningequality.org>
Section: python
Priority: optional
Build-Depends: python-setuptools (>= 0.6b3), python-all (>= 2.6.6-3), debhelper (>= 7.4.3)
Standards-Version: 3.9.1



Package: python-ka-lite-gtk
Architecture: all
Depends: ${misc:Depends}, ${python:Depends}
Description: User interface for KA Lite (GTK3)
 ===============================
 kalite_gtk
 ===============================
 .
 .. image:: https://img.shields.io/travis/learningequality/ka-lite-gtk.svg
         :target: https://travis-ci.org/learningequality/ka-lite-gtk
 .
 .. image:: https://img.shields.io/pypi/v/ka-lite-gtk.svg
         :target: https://pypi.python.org/pypi/ka-lite-gtk
 .
 .
 User interface for KA Lite (GTK3)
 .
 * Free software: BSD license
 * Documentation: https://ka-lite-gtk.readthedocs.org.
 .
 Features
 --------
 .
 * TODO



